<article class="game">
	<a href="/games/{{link}}">
	<div class="game-image">
		<img src="{{img-link}}" alt="{{img-name}}" height="120" width="160"> 
	</div>
	<div class="game-genre">
		<p>
		{{genre}}
		</p>
	</div>
	<div class="game-rating">
		{{rating}}
	</div>
	</a>			
</article>